* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ACCESSIBILITY SKIP TO CONTENT*/
/* *[tabindex="0"]:focus {
  outline: 5px dashed orange;
} */

*:focus {
  outline: 5px dashed orange;
}

.skipToContent {
  position: absolute;
  font-size: 55px;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 1000;
}

.skipToContent:focus {
  top: 0;
}

/* OTHER STYLING */
body,
html {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: yellow;
  text-align: center;
}

.noDecor {
  text-decoration: none;
}

footer {
  background-color: gray;
  text-align: center;
}

/* img {
  display: block;
} */

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}