.jumbotron {
  height: 100vh;
  width: 100vw;
}

.jumbotron-image__header {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

.jumbotron__inner {
  text-align: center;
  width: 100%;
  background-color: wheat;
  opacity: 85%;
  position: relative;
  top: 30%;
}

.jumbotron__title {
  font-size: 2.5rem;
  color: gray;
}

.jumbotron__tagline {
  color: red;
  padding: 20px 0;
  font-size: 1.5rem;
}

/* TABLET AND LARGER VIEW*/
@media screen and (min-width: 768px) {
  .jumbotron__tagline {
    color: red;
    padding: 20px;
  }
}
